<ion-header [hidden]="true">
  <ion-navbar>
    <ion-title>
     
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="back-amber" padding>
    <ion-grid>
        <ion-row>
          <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
              <img src="assets/imgs/sauti.png" class="logo"/>
          </ion-col>
          <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
         
          </ion-col>
          <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>

          </ion-col>

          <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
            <img (click)="addVerb(1)" src="assets/imgs/icons/want.png" class="icon"/>
            <img (click)="addVerb(0)"  src="assets/imgs/icons/dont-want.png" class="icon"/>
          </ion-col>          
        </ion-row>
      </ion-grid>
    
    <ion-grid>
        <ion-row>
            <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2>
              <img src="assets/imgs/icons/home.png" class="icon"/>
              <img src="assets/imgs/icons/refresh.png" class="icon"/>
            </ion-col>
            <ion-col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8>
              <ion-grid>
                <ion-row>
                  <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2>
                   
                  </ion-col>
                  <ion-col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8>
                    <ion-grid>
                      <ion-row>
                          <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                              <img src="assets/imgs/icons/i_face.png" class="icon"/>
                          </ion-col>
                          <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                              <img (click)="clearVerb()" src="{{selected_verb}}" class="icon"/>
                          </ion-col>
                          <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                              <img (click)="clearComplement()" src="{{selected_complement}}" class="icon"/>
                          </ion-col>
                          <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                            <img (click)="repeat()" src="assets/imgs/icons/repeat.png"/>
                        </ion-col>                          
                        </ion-row>
                    </ion-grid>
                  </ion-col>
                  <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2>
                    
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2>
              <img class="icon" *ngIf="stack_item.length!=0" src="assets/imgs/icons/back.png" (click)="Back()" />
            </ion-col>
          </ion-row>
    </ion-grid>
    <ion-grid class="grid-images">
      <ion-row>
        <ion-col *ngFor="let item of items" col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
            <img class="img-grid" src="assets/imgs/images/{{item.ID|lowercase}}.jpg" (click)="say(item.item_name,item.screen_name,item.ID)"/>
           </ion-col>
         </ion-row>
    </ion-grid>

  
  
</ion-content>
